.formLogin{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin: 1rem 2rem;
}

.buttonLogin{
    margin: 1rem;
    width: fit-content;
}

.divLogin{
    background-color: red;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}